name: publish-docs

on:
  workflow_dispatch:
  push:
    branches: [ master ]

jobs:
  pubdocs:
    runs-on: ubuntu-latest

    steps:
      - name: checkout nmrespy
        uses: actions/checkout@v2
        with:
          ref: master
          path: master

      - name: setup python3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: install nmrespy dependencies, LaTeX, sphinx and build docs
        run: |
          sudo apt-get update -y
          sudo apt-get install -y latexmk texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended texlive-xetex dvipng
          python -m pip install --upgrade pip
          cd master/
          python -m pip install .
          cd docs/
          python -m pip install -r requirements.txt
          sphinx-build -b html . html

      - name: checkout gh-pages branch
        uses: actions/checkout@v2
        with:
          ref: gh-pages
          path: gh-pages

      - name: update gh-pages
        run: |
          rm -r gh-pages/*
          cp -r master/docs/html/* gh-pages/
          cd gh-pages
          touch .nojekyll
          git config --local user.name "GitHub Actions"
          git config --local user.email "<>"
          git add -A
          git commit -m "Update documentation" || true
          git push
